@model IEnumerable<Translator.Models.Translation>

@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Translator</h1>
    <h2>What would you like to translate today?</h2>

    <p>@ViewData["Message"]</p>
    <p>@ViewData["TranslatorType"]</p>
    <p>@ViewData["OriginalText"]</p>

    <form method="post">
        <select name="translatorType">
            @foreach (var item in Model)
            {
                <option value=@item.Url>@item.Name</option>
            }
        </select>
        <textarea name="originalText"></textarea>
        <button type="submit">Translate</button>
    </form>
</div>
