@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Translator</h1>
    <h2>What would you like to translate today?</h2>

    <p>@ViewData["Message"]</p>
</div>
