@model IEnumerable<Translator.Models.Translation>
@section Scripts
    {
    <script>
        function handleCopyClick() {
            const textArea = document.querySelector('#translatedText')
            textArea.select();
            textArea.setSelectionRange(0, 9999);

            navigator.clipboard.writeText(textArea.value);
        }
    </script>
}

@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-2">Translator</h1>
    <p class="lead">What would you like to translate today?</p>

    <div class="container mt-5">
        <form method="post">
            <div class="form-group row justify-content-md-center">
                <div class="col-sm-6 col-lg-3">
                    <label for="translator" class="form-label">Choose Translator:</label>
                    <select id="translator" name="translatorUrl" class="form-control">
                        @foreach (var item in Model)
                        {
                            <option value=@item.Url>@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row mt-5">
                <div class="form-group col-sm">
                    <label for="originalText" class="form-label">Text to Translate:</label>
                    <textarea id="originalText " name="originalText" class="form-control" rows="5" placeholder="Type text to translate here...">@ViewData["OriginalText"]</textarea>
                </div>
                <div class="form-group col-sm">
                    <label for="translatedText" class="form-label">Translated Text:</label>
                    <textarea id="translatedText" name="translatedText" class="form-control" rows="5" readonly>@ViewData["TranslatedText"]</textarea>
                </div>
            </div>
            <div class="mt-5">
                <button type="submit" class="btn btn-primary">Translate</button>
            </div>
            <div class="mt-2">
                <button type="button" class="btn btn-secondary" onclick="handleCopyClick()">Copy Translation to Clipboard</button>
            </div>
        </form>
    </div>
</div>